<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Temp Project">
	
<test name="Run on FF" >
 	 <classes>
  	
  		<class name="SeleniumWebDriver.SeleniumWebDriver.AppTest"/>
  		
    </classes>
  </test> <!-- Default test -->
 
</suite> <!-- Default suite -->

